.main{
    position: absolute;
    width: 1900px;
    left: calc(50% - 1900px/2);
    background: #313131;
}


.architect_logo {
    font-family: "Open sans";
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    color: white;
    padding: 20px 0;
    text-decoration: none;
}
.architect_img {
    padding-left: 29px;
    padding-right: 27px;
}
.header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
    height: 70px;
}
.nav_menu{
    display: inline-block;
    padding: 0 10px;
}
.links {
    font-family: "Open sans";
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.search_block {
    width: 68px;
    background-color: black;
    height: 70px;
}
.search_image {
    display: block;
    margin: 0 auto;
    padding-top: 25px;
}
.list-items-links:hover {
    color: #14B9D5;
}


.header {
    position: relative;
    text-align: center;
}
.hero_title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.first{
    position: absolute;
    width: 170px;
    height: 55px;
    left: 870px;
    top: 258px;
    transform: translate(-50%, -50%);
    background: #89CA62;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    border-radius: 6px;
}
.second{
    position: absolute;
    width: 170px;
    height: 55px;
    left: 980px;
    top: 230px;
    background: #14B9D5;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    border-radius: 6px;
}
.first:hover{
    background: yellowgreen;
}
.second:hover{
    background: #18B4CF ;
}


.flex-container2{
    position: absolute;
    width: 1900px;
    height: 1030px;
    left: 0;
    top: 438px;
    background: #F2F2F2;
}
.head2{
    color: #18B4CF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    margin-top: 49px;
}
.post-bg1{
    position: absolute;
    width: 370px;
    height: 320px;
    left: 370px;
    top: 134px;
    background: #FFFFFF;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #353A3D;
}
.box-1 {
    position: absolute;
    width: 370px;
    height: 320px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}
.post-bg2{
    position: absolute;
    width: 370px;
    height: 441px;
    left: 770px;
    top: 134px;
    background: #FFFFFF;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #353A3D;
}
.box-2{
    position: absolute;
    width: 370px;
    height: 380px;
    left: 0;
    top: 0;
}
.post-bg3{
    position: absolute;
    width: 370px;
    height: 355px;
    left: 1170px;
    top: 134px;
    background: #FFFFFF;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #353A3D;
}
.box-3{
    position: absolute;
    width: 370px;
    height: 380px;
    left: 0;
    top: 0;
}
.post-bg4{
    position: absolute;
    width: 370px;
    height: 321px;
    left: 370px;
    top: 485px;
    background: #FFFFFF;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #353A3D;
}
.box-4{
    position: absolute;
    width: 370px;
    height: 260px;
    left: 0;
    top: 0;
}
.post-bg5{
    position: absolute;
    width: 370px;
    height: 309px;
    left: 770px;
    top: 607px;
    background: #FFFFFF;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #353A3D
}
.box-5{
    position: absolute;
    width: 370px;
    height: 247px;
    left: 0;
    top: 0;
}
.post-bg6{
    position: absolute;
    width: 370px;
    height: 441px;
    left: 1169px;
    top: 517px;
    background: #FFFFFF;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #353A3D;
}
.box-6{
    position: absolute;
    width: 370px;
    height: 380px;
    left: 0;
    top: 0;
}


.grid1{
    position: absolute;
    width: 1901px;
    height: 588px;
    left: 1px;
    top: 1466px;
}
.head3{
    position: absolute;
    width: 496px;
    height: 44px;
    left: 702px;
    top: 106px;
    text-align: center;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
}
.rectangle1{
    position: absolute;
    width: 60px;
    height: 3px;
    left: 920px;
    top: 237px;
    background: #18B4CF;
}
.most-popular-clients{
    background-image: url("Layer 3.png");
    width: 100%;
    height: 588px;
    background-position: center;
    justify-content: center;
}

.grid3{
    display: grid;
    grid-template-columns: 207px 135px 232px 141px;
    column-gap: 58px;
    justify-content: center;
    margin-bottom: 191px;
}
.item-list{
    margin-top: 346px;
}
.item-list1{
    margin-top: 355px;
}


.top-rated{
    position: absolute;
    width:100%;
    top: 2056px;
}
.top-rated-title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;

    color: #18B4CF;
}
.top-rated-pictures{
    display: grid;
    grid-template-columns: repeat( 7, 1fr);
    grid-template-rows: 190px;
    margin-top: 52px;
    width:100%;
}


.head4{
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: #18B4CF;
    padding: 50px;
}
.hot-news{
    position: absolute;
    width: 100%;
    max-width: 1170px;
    left: 373px;
    top: 2382px;
    background: rgba(0, 0, 0, 0.0001);
}
.grid-main{
    display: grid;
    grid-gap: 30px 35px;
    grid-template-areas:
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item8";
}
.g1-block{
    grid-area: item1;
    display: flex;
    background-color: #F9F7F7;
}
.g2{
    grid-area: item2;
    background-color: #F9F7F7;
}
.g3{
    grid-area: item3;
    background-color: #F9F7F7;
}
.g4{
    grid-area: item4;
    background-color: #F9F7F7;
}
.g5{
    grid-area: item5;
    background-color: #F9F7F7;
}
.g6{
    grid-area: item6;
    background-color: #F9F7F7;
}
.g7{
    grid-area: item7;
    background-color: #F9F7F7;
}
.g8{
    grid-area: item8;
    display: flex;
    background-color: #F9F7F7;
}
.g-head {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: right;
    padding-right: 14px;
}
.text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    text-align: right;
    padding-right: 14px;
}
.g-head2, .g-head7{
    text-align: center;
}
.g-head1, .g-head8{
    padding-right: 24px;

}


.footer{
    position: absolute;
    top: 4071px;
    width: 100%;
    margin-top: 142px;
    color: black;
}

.wrapper-footer{
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-around;
    background-color: black;
}
.logo-footer{
    align-items: center;
    display: flex;
}
.all-rights-footer{
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 350px;
}
.liot-logo, .liot-logo-text{
    display: block;
}