body{
    background: url("bg1.png") center/cover no-repeat;
}
.main{
    width: 100%;
    margin: 0 auto;
}
.top-menu{
    display:flex;
    color: white;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.4);
    height: 58px;
    align-items: center;
    justify-content: space-between;
}
.top-menu a{
    color: white;
    text-decoration: none;
}
.label{
    padding-left: 79px;
}
.label:hover, .sign-in a:hover{
    color: #01813F;
}
.icon :hover{
    fill: #01813F;
}
.icons{
    display: flex;
    list-style-type: none;
    padding-top: 10px;
}
.icon{
    padding-left: 25px;
}
.sign-in{
    padding: 0 79px 0 25px ;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}


.form{
    margin-top: 54px;
    width: 444px;
    height: 584px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;
}
.box-green{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 23px;/*29px a class*/
    background: #3CB878;
}
.box-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px 0 60px;
}
.sign-up{
    color: black;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    align-items: center;
}
.log-in{
    color: #3CB878;
    font-size: 14px;
    text-decoration: none;
}
.log-in:hover{
    color:#01813F;
}

.form2{
    padding: 0 60px 0 60px;
}
.box-social{
}
.facebook{
    width: 160px;
    height: 48px;
   background:#305DB8;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    border-style: none;
    text-align: left;
}
.facebook:hover{
    background: #022263;
}
.google{
    background: #DF4A32;
    width: 160px;
    height: 48px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    border-style: none;
    text-align: left;
}
.social-facebook-txt{
    padding-left: 30px;

}
.social-google-txt{
    padding-left: 18px;

}
.line1{
    padding-left: 18px;
}
.line2{
    padding-left: 7px;
}
.google:hover{
    background: #AB1F09;}
.fb-logo{
margin-left: 15px;
}
.line-or{
    width: 100%;
    height: 9px;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
    margin-top: 15px;
}


.registration{
    display: flex;
    flex-direction: column;
}
input {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}
input:focus {
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}
input[type="text"] {
    width: 302px;
    height: 44px;
    margin-top: 15px;
    padding-left: 20px;
    color: #bebebe;

}
input[type="password"]{
    width: 302px;
    height: 44px;
    margin-top: 15px;
    padding-left: 20px;
    background: #FFFFFF;
    color: #BEBEBE;
}
input[type="checkbox"]{
    margin-top: 12px;
}
input[type="checkbox"] {
    height: 12px;
    width: 12px;
    border: 1px solid gray;
}

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + :before {
    content: "\2713";
    color: transparent;
    display: inline-block;
    border: 1px solid #f2f2f2;
    font-size: 14px;
    height: 14px;
    width: 14px;
    text-align: center;
    margin-top: 12px;


}
input[type="checkbox"]:checked + :before {
    color: #01813f;
}




.terms-link{
    color: #3CB878;
    text-decoration: none;
}
.terms-link:hover{
    color:#01813F;
    text-decoration: underline;
}

.create-acc{
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    width: 324px;
    height: 46px;
    margin-top: 20px;
    font-size: 16px;
    color: white;
    border-style: none;
}
.create-acc:hover{
    background: #01813F;
}