body {
    background: url("bg1.png") center/cover no-repeat;
}
.container {
    width: 1366px;
    margin: 0 auto;
}
.header__main {
    background: rgba(0, 0, 0, 0.4);
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 79px 0 79px;
}
.logo {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
}
.logo:hover {
    color: #3cb878;
    transition: 0.5s;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    font-size: 14px;
    color: #ffffff;
}
.nav_registration {
    color: #ffffff;
    text-decoration: none;
}
.nav_registration:hover {
    color: #3cb878;
    transition: 0.5s;
}
.nav__iconlink:hover .header__icon {
    fill: #3cb878;
    transition: 0.5s;
}
.nav__iconlink {
    padding-top: 4px;
}
.header__main:hover .nav__line {
    fill: #3cb878;
    transition: 0.5s;
}
.header__welcome {
    font-family: "Ubuntu";
}
.box {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 444px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;
    padding-bottom: 38px;
}
.box-green {
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    top: 31px;
    left: 0;
}
.box__header {
    font-family: "Ubuntu";
    padding: 29px 60px 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box__header-bigtext {
    font-size: 20px;
    color: #434343;
}
.box__header-link {
    font-size: 14px;
    color: #3cb878;
    text-decoration: none;
}
.box__header-link:hover {
    text-decoration: underline;
}
.social {
    font-family: "Ubuntu";
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 60px 0 60px;
}
.social__img {
    padding-left: 15px;
}
.social__fb {
    width: 160px;
    height: 48px;
    background-color: #305db8;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
}

.social__fb:hover {
    background-color: #022263;
    transition: 0.5s;
}
.social__text-fb {
    padding-right: 20px;
}
.social__text-g {
    padding-right: 30px;
}
.social__g {
    width: 160px;
    height: 48px;
    background-color: #df4a32;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
}
.social__g:hover {
    background-color: #ab1f09;
    transition: 0.5s;
}
.line {
    width: 73%;
    height: 9px;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
    margin-left: 60px;
    margin-top: 30px;
}
.or {
    font-family: "Ubuntu";
    font-size: 14px;
    background-color: #ffffff;
    color: #848484;
    padding: 0 3px;
}
.registration {
    font-family: "Ubuntu";
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}
input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
input[type="text"] {
    padding: 15px 120px 15px 20px;
    margin-top: 15px;
}
input::-webkit-input-placeholder {
    color: #bebebe;
}
input:focus::-webkit-input-placeholder {
    color: #434343;
}
.terms {
    padding: 15px 72px 0 0;
    font-size: 14px;
    color: #434343;
}
.terms__text {
    vertical-align: middle;
    padding-left: 8px;
}
.terms__link {
    font-size: 14px;
    color: #3cb878;
    text-decoration: none;
}
.terms__link:hover {
    text-decoration: underline;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label:before {
    content: "\2713";
    color: transparent;
    display: inline-block;
    border: 1px solid #f2f2f2;
    font-size: 20px;
    line-height: 22px;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    transition: color ease 0.5s;
}
input[type="checkbox"]:checked + label:before {
    color: #01813f;
}
.create {
    display: block;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    width: 324px;
    text-align: center;
    padding: 16px 0 16px 0;
    margin: 15px 60px 0 60px;
}
.create:hover {
    background-color: #01813f;
    transition: 0.5s;
}
@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
