.main-block {
    position: absolute;
    width: 1280px;
    height: 600px;
    left: calc(50% - 1280px/2);
    top: calc(50% - 900px/2);
    background: rgba(0, 0, 0, 0.0001);

}
h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
}

.link {
    text-decoration: none;
    color: black;
}

.colortext {
    color: deepskyblue;
}
.container {
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    background: #35444F;
    position: center;
    text-align: center;
}
.container a:hover {
    background-color: #222F3A;
}
.container a {
    padding: 10px;
    color: white;
    margin-left: 25px;
    text-decoration: none;
    border-left: 1px solid #FFFFFF;
    padding-left: 20px;
    padding-right: 1px;
}
.wrapper {
    display: block;
    text-align: center;
    position: absolute;
    width: 840px;
    height: 450px;
    left: 430px;
    top: 325px;

    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}
.ii{
    padding-top: 90px;
}
.p1 {
    text-align: justify;
    padding-top: 130px;
    font-size: 18px;
}
.left-nav{
    position: absolute;
    width: 304px;
    height: 290px;
    top: 300px;
    margin: 25px;
    display: flow;
    text-align: left;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}
.left-nav a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    color: #485863;
    text-decoration: none;
    padding: 15px;
}
.left-nav a:hover{
    background-color: #DBDBDB;
    color: black;
    padding-left: 60px;
}
.bottom-nav{
    position: relative;
    display: flex;
    text-align: center;
    margin: 25px;
    padding: 1px;
    top: 800px;
    Width: 1280px;
    height: 50px;
    background: #C0C0C0;
}
.bottom-nav a{
    position: relative;
    display: flex;
    text-align: center;
    margin: 25px;
    color: #0C1927;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 17px;
}
.bottom-nav a:hover{
    color:deepskyblue;
    text-decoration: underline deepskyblue;
;
}
.bb{
    padding-left: 300px
}
