
.topnav {
    background-color: #C0C0C0;
    overflow: hidden;
    width: 1280px;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    position: center;
    text-align: center;
    padding: 14px 128px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
p {text-indent: 20px;
    width: 1280px;
}
h3 { text-align: center;
    width: 1280px;
}
.btn{background-color: #C0C0C0;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 24px;
    border: 1px solid #C0C0C0;
    position:relative;
    left: 640px;
    /*left: 50%;
    transform: translate(-50%, 0);
    в пикселях
    */
}
.btn:hover {
    background-color: #ddd;
    color: black;
}

